doctype 5
html
	head
		title Ryan Rules
		link(rel='stylesheet', href='/stylesheets/styles.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/emc-icon-styles.css')
		link(rel='icon', type='images/png', href='images/favicon.png')
	body

		.modal.fade(id='serviceReqModal' tabindex='1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog.wide-modal
				.modal-content

		.modal.fade(id='create' tabindex='1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog.wide-modal
				.modal-content

		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					a.emcTab(href='/', title='Wonski Medical Solutions')
					h3.applicationIdentifier Wonski Medical Solutions
					ul.nav.navbar-nav.navbar-right
						button.navbar-toggle(data-toggle='collapse', data-target='.navHeaderCollapse')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						.collapse.navbar-collapse.navHeaderCollapse
							ul.nav.navbar-nav.navbar-right
								li.active
									a(href='')
										span.glyphicon.glyphicon-home
										|  Home
								li.active
									//- a(href='/service-create') Create Service Request
									a(data-toggle='modal', href='/service-create', data-target='#create')
										span.glyphicon.glyphicon-wrench
										|  Create Service Request
								li.active
									a.dropdown-toggle(href='#', data-toggle='dropdown')
										span.glyphicon.glyphicon-eye-open
										|  My Equipment
										b.caret
									ul.dropdown-menu
										li
											a(href='') View My Equipment
										li
											a(href='') View My Reports
										li
											a(href='') Email Search
										li
											a(href='') Add To Group
				form.navbar-form.navbar-right(action='/logout')
					button(type='submit' class='btn btn-default pull-right') Logout

		.container
			br
			br
			.jumbotron
				h1 Hello #{firstname}
				h2 You are a Customer!
				p Today is #{moment(Date.now()).format('dddd, MMMM Do')}

		.main

		.container
			h2.text-center Open Service Orders
			table.text-center.table.table-striped.table-hover.table-responsive
				thead
					tr
						th.text-center #{header1} Service Order
						th.text-center #{header2} Equipment
						th.text-center #{header3} Product
						th.text-center #{header4} Date Requested
						th.text-center #{header5} Problem Type
						th.text-center #{header6} Status
				tbody
				for eq in equipment
					tr
						td
							a(data-toggle='modal', href='/modal-svc-order', data-target='#ServiceOrderModal') #{eq._id}
							a(href="/servicedetails?id=#{eq._id}") #{eq._id}
							td= eq.SerialNumber
							td= eq.ProductName
							td #{moment(eq.OpenDate).format('dddd,MMMM Do YYYY, hh:mm A')}
							td= eq.ProblemTypeDescription
							if eq.CurrentStatus == "Waiting For Customer Approval"
								td.text-danger #{eq.CurrentStatus}
							else 
								td= eq.CurrentStatus

		.container
			h2.text-center My Equipment
			table.table.table-striped.table-hover.table-responsive
				thead
					tr
						th.text-center #{header1} Equipment
						th.text-center #{header2} Product
						th.text-center #{header3} Maintance
						th.text-center #{header3} Date Required
				tbody    
				for p in products 
					tr
						td.text-center= p.SerialNumber
						td.text-center= p.ProductName
						td.text-center= p.NextPMDescription
						td.text-center #{moment(p.NextPMDate).format('dddd,MMMM Do YYYY, hh:mm A')}

			//- .container
			//- 	#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			//- 		.modal-dialog(role='document')
			//- 			.modal-content
			//- 				.modal-header
			//- 					button.close(type='button', data-dismiss='modal', aria-hidden='true') x
			//- 					h1.myModalLabel.modal-title
			//- 					| View Equipment Details
			//- 				.modal-body
			//- 					.panel-group(id='accordian')
			//- 						.panel.panel-default
			//- 							.panel-heading 
			//- 								h4.panel-title 
			//- 									a(data-toggle='collapse' data-parent='#accordian' href='#collapse1') Action 1
			//- 							.panel-collapse.collapse(id='collapse1')
			//- 								.panel-body
			//- 									p.lead Look at me collapse!!
			//- 									p this content is sweeet
			//- 					.panel-group(id='accordian2')
			//- 						.panel.panel-default
			//- 							.panel-heading
			//- 								h4.panel-title
			//- 									a(data-toggle='collapse' data-parent='#accordian' href='#collapse2') Action 2
			//- 							.panel-collapse.collapse(id='collapse2')
			//- 								.panel-body
			//- 									p.lead This is all of my Collapse 2 Content.
			//- 									p hi world   
			//- 					p
			//- 						button.btn.btn-info(type='button' href='#' id='poppop' rel='popover' data-trigger='hover' data-placement='bottom' data-content='Look at my Popover!' data-original-title='Popover 1:') Let's Pop:
			//- 					p
			//- 						button.btn.btn-info(type='button' href='#' id='poppop2' rel='popover' data-trigger='click' data-placement='right' data-content='Look at my 2nd Popover!' data-original-title='Popover 2:') Pop Again:
			//- 				.modal-footer
			//- 					button.btn.btn-primary(type='button', data-dismiss='modal') Close
			//- 
			//- #myModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			//- 	.modal-dialog(role='document')
			//- 		.modal-content
			//- 			.modal-header
			//- 				button.close(type='button', data-dismiss='modal', aria-hidden='true') x
			//- 				h4.myModalLabel.modal-title
			//- 				| Create Service Order
			//- 			.modal-body
			//- 				p
			//- 					button.btn.btn-info(type='button' href='#' id='poppop3' rel='popover' data-trigger='hover' data-placement='bottom' data-content='Look at my Popover!' data-original-title='Popover 1:') Let's Pop:
			//- 				p
			//- 					button.btn.btn-info(type='button' href='#' id='poppop4' rel='popover' data-trigger='click' data-placement='right' data-content='Look at my 2nd Popover!' data-original-title='Popover 2:') Pop Again:
			//- 				.panel-group(id='accordian3')
			//- 					.panel.panel-default
			//- 						.panel-heading
			//- 							h4.panel-title
			//- 								a(data-toggle='collapse' data-parent='#accordian3' href='#collapse3') Collapse 1
			//- 						.panel-collapse.collapse(id='collapse3')
			//- 							.panel-body
			//- 								p.lead Look at me collapse!!
			//- 								p this content is sweeet
			//- 				.panel-group(id='accordian4')
			//- 					.panel.panel-default
			//- 						.panel-heading
			//- 							h4.panel-title
			//- 								a(data-toggle='collapse' data-parent='#accordian4' href='#collapse4') Collapse 4
			//- 						.panel-collapse.collapse(id='collapse4')
			//- 							.panel-body
			//- 								p.lead This is all of my Collapse 4 Content.
			//- 								p hi world   
			//- 			.modal-footer
			//- 				button.btn.btn-primary(type='button', data-dismiss='modal') Close

			.navbar.navbar-default.navbar-fixed-bottom
				.container
					p.navbar-text.pull-left
						| &#174; 2016 WMD, Inc.
					p.navbar-text.pull-right  
						a(href='') Support 24x7
					p.navbar-text.pull-right  
						a(href='') Privacy Policy


		script(src='/javascripts/jquery-2.0.3.min.js')
		script(src='/javascripts/bootstrap.min.js')

		//- script 
		//- 	$('#poppop').popover();
		//- 	$('#poppop2').popover();
		//- 	$('#poppop3').popover();
		//- 	$('#poppop4').popover();
