doctype 5
html
	head
		title Single Service Portal
		link(rel='stylesheet', href='/stylesheets/styles.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/emc-icon-styles.css')
		link(rel='icon', type='images/png', href='images/favicon.png')
		link(href='assets/css/bootstrap.css', rel='stylesheet')
		link(href='assets/css/google-plus.css', rel='stylesheet')

	body
		.modal.fade(id='workOffModal' tabindex='1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog.wide-modal
				.modal-content

		.modal.fade(id='workAssModal' tabindex='1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-dialog.wide-modal
				.modal-content

		nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					a.emcTab(href='/', title='Wonski Medical Solutions')
					h3.applicationIdentifier 
					ul.nav.navbar-nav.navbar-right
						button.navbar-toggle(data-toggle='collapse', data-target='.navHeaderCollapse')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						.collapse.navbar-collapse.navHeaderCollapse
							ul.nav.navbar-nav.navbar-right
								li.active
									a(href='')
										span.glyphicon.glyphicon-home
										|  Home
								li.active
									//- a(href='/service-create') Create Service Request
									a(data-toggle='modal', href='/service-create', data-target='#create')
										span.glyphicon.glyphicon-wrench
										|  Create Service Request
								li.active
									a.dropdown-toggle(href='#', data-toggle='dropdown')
										span.glyphicon.glyphicon-eye-open
										|  My Equipment
										b.caret
									ul.dropdown-menu
										li
											a(href='') View My Equipment
										li
											a(href='') View My Reports 
										li
											a(href='') Email Search
										li
											a(href='') Add To Group
				form.navbar-form.navbar-right(action='/logout')
					button(type='submit' class='btn btn-default pull-right') Logout

		.container
			br
			br
			.jumbotron
				h1 Hello #{firstname}
				h2 Welcome to the Engineer Single Service Portal
				p Today is #{moment(Date.now()).format('dddd, MMMM Do')}

		.main

		// - TABS
		.container
			.col-sm-6.col-md-4
			.panel.panel-default
				.panel-heading
					a.pull-right(href='#')
					//- h4 Tabs
				.panel-body
					ul.nav.nav-tabs
						li.active
							a(href='#A', data-toggle='tab') Offered Work
						li
							a(href='#B', data-toggle='tab') Assigned Work
						li
							//- a(href='#C', data-toggle='tab') Section 3
					.tabbable
						.tab-content
							#A.tab-pane.active
								.well.well-sm 
								h3.text-center Work Offers
								.table-responsive
									table.text-center.table.table-striped.table-hover
										thead
											tr
												th.text-center Service Order
												th.text-center Priority
												th.text-center Customer
												th.text-center Product
												th.text-center Problem 
												th.text-center Status
										tbody
											for work in WorkOffers
												tr
													td
														//- a(data-toggle='modal', href='/workOffModal', data-target='#workOffModal') #{work._id}
														a(data-toggle='modal', href='/workOffModal?reqid=#{work._id}&pd=#{work.PriorityDescription}&name=' + encodeURIComponent("#{work.Name}") + '&prd=' + encodeURIComponent("#{work.ProductName}") + '&status=' +encodeURIComponent("#{work.CurrentStatus}"), data-target='#workOffModal') #{work._id}
														//- a(data-toggle='modal', href='/workOfferModal' , data-target='#workOfferModal') #{work._id}
													td= work.PriorityDescription
													td= work.Name
													td= work.ProductName									
													td= work.ProblemTypeDescription
													if work.CurrentStatus == "Assigned, Waiting to be Accepted"
														td.text-danger #{work.CurrentStatus}
													else 
														td= work.CurrentStatus

							#B.tab-pane
								.well.well-sm
								h3.text-center Assigned Work
								.table-responsive
									table.text-center.table.table-striped.table-hover
										thead
											tr
												th.text-center Service Order
												th.text-center Priority
												th.text-center Customer
												th.text-center Product
												th.text-center Problem 
												th.text-center Status
										tbody
											for work in WorkAssigned
												tr
													td
														a(data-toggle='modal', href='/workAssModal?reqid=#{work._id}&pd=#{work.PriorityDescription}&status=#{work.CurrentStatus}&name=' + encodeURIComponent("#{work.Name}") + '&prd=' +encodeURIComponent("#{work.ProductName}"), data-target='#workAssModal') #{work._id}
														//- a(data-toggle='modal', href='/workAssModal?name=#{work.Name}&id=#{work._id}&pd=#{work.PriorityDescription}&prd=#{work.ProductName}&status=#{work.CurrentStatus}', data-target='#workAssModal') #{work._id}
														//- a(data-toggle='modal', href='/workAssModal', data-target='#workAssModal') #{work._id}
													td= work.PriorityDescription
													td= work.Name
													td= work.ProductName									
													td= work.ProblemTypeDescription
													if work.CurrentStatus == "Assigned, Waiting to be Accepted"
														td.text-danger #{work.CurrentStatus}
													else 
														td= work.CurrentStatus
							#C.tab-pane
								.well.well-sm I've decided that I like wells.


		.navbar.navbar-default.navbar-fixed-bottom
			.container
				p.navbar-text.pull-left
					| &#174; 2016 WMD, Inc.
				p.navbar-text.pull-right  
					a(href='') Support 24x7
				p.navbar-text.pull-right  
					a(href='') Privacy Policy


		script(src='/javascripts/jquery-2.0.3.min.js')
		script(src='/javascripts/bootstrap.min.js')
